@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
	
*{
		padding: 0;
		margin: 0;
		-webkit-box-sizing: border-box;
				box-sizing: border-box;
	
	}
	/* body{
		overflow: hidden;
	} */
	a{
		color: #383749;
		font-family: 'Roboto Condensed', sans-serif;
	    transition: .6s;
	}
	p ,span{
		font-family: 'Roboto Condensed', sans-serif;
	}
	h3, h4, h5{
		font-family: 'Merriweather', serif;
	}
	a:hover{
		text-decoration:none ;
	}
	.main-color{
		color: #00a2b1;
	}


::-webkit-scrollbar{
	background-color: #174d85;
	width: 8px;
}
::-webkit-scrollbar-thumb{
	background-color: #ccc;
	border: .5px solid #333;
	border-radius: 10px;    ;
	-webkit-border-radius: 10px    ;
	-moz-border-radius: 10px    ;
	-ms-border-radius: 10px    ;
	-o-border-radius: 10px    ;
}
/* spinniner loaaaaaaading screeen */
.sk-cube-grid {
	width: 40px;
	height: 40px;
	margin: 20% auto;
  }
  
  .sk-cube-grid .sk-cube {
	width: 33%;
	height: 33%;
	background-color: #fff;
	float: left;
	-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
			animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
	-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
	-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
	-webkit-animation-delay: 0.4s;
			animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
	-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
	-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
	-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
	-webkit-animation-delay: 0s;
			animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
	-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
	-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
	0%, 70%, 100% {
			  -webkit-transform: scale3D(1, 1, 1);
			  transform: scale3D(1, 1, 1);
			  -moz-transform: scale3D(1, 1, 1);
			  -ms-transform: scale3D(1, 1, 1);
			  -o-transform: scale3D(1, 1, 1);
} 35% {
			  -webkit-transform: scale3D(0, 0, 1);
			  transform: scale3D(0, 0, 1);
			  -moz-transform: scale3D(0, 0, 1);
			  -ms-transform: scale3D(0, 0, 1);
			  -o-transform: scale3D(0, 0, 1);
}
  }
  
  @keyframes sk-cubeGridScaleDelay {
	0%, 70%, 100% {
			  -webkit-transform: scale3D(1, 1, 1);
			  transform: scale3D(1, 1, 1);
			  -moz-transform: scale3D(1, 1, 1);
			  -ms-transform: scale3D(1, 1, 1);
			  -o-transform: scale3D(1, 1, 1);
} 35% {
	  -webkit-transform: scale3D(0, 0, 1);
			  transform: scale3D(0, 0, 1);
	} 
  }
  .spinner-fixed{
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  width: 100%;
	  height: 100%;
	  background-color: #00a2b1;
	  z-index: 999999999999999999999;
  }
  /* spinner loading screen */


/* start section above nav bar  */
.top-header-bar {
    background: #eee;
}
.header-bar-email {
    padding-left: 16px;
    border-right: 1px solid #ebebeb;
}
.header-bar-text, .header-bar-email {
    padding: 11px 26px;
}
.email {
    padding: 11px 26px;
}
.bar-email i {
    margin-right: 12px;
    font-size: 20px;
	color: #00a2b1;
}	
.header-bar-email a {
	color: #383749;
	text-decoration: none;}

.header-bar-text p {
	margin: 0;
}

.header-bar-text i , .header-bar-email i {
    margin-right: 12px;
    font-size: 20px;
	color: #00a2b1;
}
.header-bar-search input[type="search"] {
    width: 280px;
    padding: 12px 26px;
    border: 0;
    line-height: 1;
    background: #fff;
	color: #383749;
}
.header-bar-search button[type="submit"] {
    width: 50px;
    height: 50px;
    border: 0;
    color: #fff;
    background: #00a2b1;
    cursor: pointer;
	outline: none;
}
.header-bar-menu ul {
    padding: 0 16px 0 32px;
	margin: 0;
	list-style:none;
}
.header-bar-menu li a {
    position: relative;
    display: block;
    padding: 0 6px;
	color: #383749;
}



/* end section above nav bar  */


/* start section  nav bar  */
.language{
	background-color: #00a2b1;
    color: #fff;
    font-size: 14px;
    position: fixed;
    top: 200px;
    left: 0;
    z-index: 99;
}
.big-nav .navbar-toggler{
	outline: none
}
.big-nav {
 background-color: #fff;
 z-index: 999999999;
 height: 100px;
}
.big-nav-fixed{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	background-color: #fff;
    box-shadow: 2px 2px 2px #eee;
}
.nav-logo img{
	width: 200px;
	height: 70px;
	width: 140px;
    height: 100px;
  }
.big-nav-home .nav-item a{
  color:#00a2b1!important;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  transition: .6s;
}
.big-nav-home .course-link-hover a{
   font-family: Sans-serif	!important;
  }
.big-nav-fixed .navbar-collapse{
	background-color: #fff;
	/* text-align: center; */
}

.big-nav-fixed .nav-item a{
	color:#00a2b1!important;
	font-weight: bold;
    margin-right: 10px;
  }

  .big-nav-fixed .nav-item .social-container a{
	color: #fff !important;
  }
  .big-nav-fixed .nav-item .social-container .main-btn{
	color: rgb(5, 5, 5) !important;
  }
.big-nav-home .nav-item a:hover{
	color:#000!important;
  }
 
.course-link-nav {
	position: relative;
}
.course-link-nav:hover .course-link-hover{
opacity: 1;
visibility: visible;
top: 70px;
}
.course-link-hover{
	position: absolute;
	width: 600px;
	right: -220px;
	font-size: 14px;
	padding: 5px;
	visibility: hidden;
	opacity: 0;
	top: 110px;
	text-transform: capitalize;
	overflow: hidden;
	max-height: 60vh;
	overflow-y: auto;
	background-color: #fff;
	box-shadow: 2px 2px 2px #eee, -2px 0 2px #eee;
	transition: .6s;
}
.hea p{
	transition: .6s;
}
.hea p:hover{
	transform:translateX(10px);
}
.course-link-hover .hea h5{
 background-color: #00a2b1;
 font-size: 15px;
 color: #fff;
 padding: 5px;
 margin-bottom: 10px;
}
.course-link-hover .hea i{
	background-color: #139eb1;
	color: #fff;
	/*font-size: 18px;
	*/padding: 5px;
	border-radius: 50%;
	transition: .6s;
}
.course-link-hover .hea p:hover i{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}


.course-link-hover p a{
	text-transform: capitalize!important;
	font-weight: normal!important;
}
.course-link-hover .row hr{
	border-bottom: 1px solid #174d85;
	display: none;
    background-color: #174d85;
    width: 25%;
    margin-right: auto;
}
.hea-midle{
	border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}
/* nraaaaaaaaaanch naaaaaaaaaaaaaav */
.nav-branch .navbar-collapse{
	background-color: #ccc;
}

.nav-branch .nav-item a{
	color:#00a2b1!important;
	/* font-weight: bold; */
    margin-right: 10px;
  }

  .nav-branch .nav-item .social-container a{
	color: #fff !important;
  }
  .nav-branch .nav-item .social-container .main-btn{
	color: rgb(5, 5, 5) !important;
  }
.nav-branch .course-link-hover{
	background-color: #ccc;
}
.nav-branch{
	background-color: #ccc;
}
.nav-branch .course-link-nav .hea{
	color: #fff;
}



/* end nav section */

/* start home section */

.carousel-item-three {
	position: relative;
	height: 600px;
	overflow: hidden;
}

.slide-1, .slide-2, .slide-3 {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.slide-1 {
	background: url(../images/panner-1.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat!important;
	width: 100%;
	height: 100%;
	animation: fade1 30s infinite;
	-webkit-animation: fade1 30s infinite;
}


.slide-2 {
	background: url(../images/panner-3.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat!important;
	width: 100%;
	height: 100%;
	animation: fade2 30s infinite;
	-webkit-animation: fade2 30s infinite;
}

.slide-3 {
	background: url(../images/panner-4.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat!important;
	width: 100%;
	height: 100%;
	animation: fade3 30s infinite;
	-webkit-animation: fade3 30s infinite;
}

@keyframes fade1 {
	0% {
			opacity: 1;
			transform: scale(1.3);
			-webkit-transform:;
			-moz-transform:;
			-ms-transform:;
			-o-transform:;
}
	33.3333333% {
			opacity: 0;
	}
	66.66666% {
			opacity: 0;
	}
	100% {
			opacity: 0;
	}
}

@keyframes fade2 {
	0% {
			opacity: 0;
	}
	33.3333333% {
			opacity: 1;
			transform: scale(1.3);
			-webkit-transform:;
			-moz-transform:;
			-ms-transform:;
			-o-transform:;
}
	66.66666% {
			opacity: 0;
	}
	100% {
			opacity: 1;
			transform: scale(1.3);
	}
}

@keyframes fade3 {
	0% {
			opacity: 0;
	}
	33.3333333% {
			opacity: 0;
	}
	66.66666% {
			opacity: 1;
			transform: scale(1.3);
	}
	100% {
			opacity: 0;
	}
}

.overlay-1 {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(51, 51, 51, .2)
}
.overlay
{
	position: absolute;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	background-color: rgba( 51, 51, 51, .1)
}


.center-block-body {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.center-block-wrap {
	width: 100%;
	height: 100%;
	display: table;
	vertical-align: middle;
}

.center-block {
	position: absolute;
	top: -10px;
	width: 100%;
	height: 100%;
}
.home-content p {
	color: #fff;
	text-transform: capitalize;
	font-size: 32px;
	font-weight: bolder;
}
.home-content p span{
	color: #00a2b1;
	font-weight: bold;
	text-transform: uppercase;
}
.home-content .btn{
	color: #fff;
	background-color: #00a2b1;
	width: 138px;
	transition: .6s;
}
.home-content button:hover{
	color: #00a2b1;
	background-color: #fff;
	width: 145px;
}

/* end home section */

/* start serrvice section */
.service-container{
	background-color: #fff
}
.header span{
  color: #00a2b1;
}
.header h3{
	position: relative;
	font-size: 38px;
    line-height: 38px;
	font-weight: 700;
	/* text-transform: capitalize; */
  }

.header hr {
	width: 6%;
	border-bottom: 1px solid #00a2b1;
	transition: .6s;
}
.header:hover hr {
	width: 10%;
}
.header h3::after{
	position: absolute;
	content: "C";
    font-size: 2em;
    opacity: .06;
    top: -0.25em;
    left: 0;
    right: 0;
	margin: auto;
}
.read-more a {
    position: relative;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 700;
    color: #00a2b1;
    text-decoration: none;
    text-transform: uppercase;
	letter-spacing: .1em;
}
.read-more a i {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transition: all .35s;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	-ms-transition: all .35s;
	-o-transition: all .35s;
}
.service-box:hover .read-more a i {
	left: 100%;}

.service-box p i{
	color: #00a2b1;
	font-size: 42px;
}
.service-box p {
	color: #333;
}
.service-box{
	height: 100%;
	box-shadow: 2px 2px 3px #eee;
	padding: 5px;
}
.service-box h5{
	text-transform: uppercase;
}
/* end service section */

/* start about section */
.about-container{
	background-color: #f7f7f7
}
.about-container h3::after{
	content: "A"
}
.bout-projects h5{
	font-size: 50px;
    line-height: 1.2;
}
/* end about section */

/*start team section */
.team-card{
	position: relative;
	box-shadow: 2px 2px 3px #ccc,
		-2px -2px 3px #cccc;
	/* width: 60%; */
	margin: auto;
	background-color: #f3f3f3;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.team-card-content {
  padding:60px 50px 10px;
}
.team-persons{
	position: relative;
	overflow: hidden;

}

.team-persons i , .team-persons h5{
	color: #00a2b1
}

.team-card img{
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: absolute;
	width: 30%;
	right: 35%;
	top: -70px;
	height: 130px;
	transition: .6s;
}
.card-none{
	display: none;
}
.team-card:hover img{
  filter: saturate(0);
  -webkit-filter: saturate(0);
}

/* end team section */

/* start course section */
.courses-links a{
	margin-left: 10px;
	font-size: 18px;
    line-height: 1;
	color: #383749;
	transition: .6s;	
}
.courses-links a:hover{
	color: #00a2b1;
}
.courses-container{
	background-color: #f7f7f7;
}
.courses-container h5{
	font-size: 42px;
    font-weight: 400;	
}
.course-card{
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	overflow: hidden;
	transition: .6s;
}
.course-content h4{
	font-size: 18px;
}
.course-content h4:hover{
 color: #00a2b1;
}
.course-content .d-flex img{
	width: 40px;
	height: 40px !important;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transition: .6s;
}
.course-content .course-teacher a{
	font-style: italic;
	margin-left: 10px;
	color: #00a2b1;
	font-size: 18px;
}
.course-content .course-date span {
	margin-left: 10px;
	font-size: 18px;
}
.course-rate .course-price {
	font-size: 24px;
    font-weight: 700;
}
.course-rate .course-price .discount{
	margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: #c0c1cd;
    text-decoration: line-through
}
.course-rate .stars i{
	color: #f3a90b;
}
.course-rate .stars span{
	font-size: 13px;
	color: #c0c1cd;
}
.course-card img{
	width: 100%;
	height: 150px!important;
	transition: .6s;
}
.corse-android{
	position: relative;
	height: 100%;
}
.course-card:hover{
	box-shadow: 0 24px 38px rgba(81,107,117,.21);
}
.course-card:hover  img{
	opacity:.6;
	transform: scale(1.1);
	-webkit-transform:;
	-moz-transform:;
	-ms-transform:;
	-o-transform:;
}
.android::after{
	position: absolute;
	content: "OFFER";
	top: 63px;
    right: 16px;
    background-color: #333;
    color: #fff;
    width: 58px;
    text-align: center;
    height: 25px;
}
.ios::after{
	position: absolute;
	content: "Free";
	top: 63px;
    right: 16px;
    background-color: #333;
    color: #fff;
    width: 58px;
    text-align: center;
    height: 25px;
}
.course-button{
	width: 20%;
	margin: auto;
	color: #fff;
	background-color: #00a2b1;
	height: 40px;
	border: 1px solid #00a2b1
}
.course-button a{
	color: #fff;
}
.course-button:hover{
	background-color: #fff;
}
.course-button:hover a{
	color: #00a2b1;
}
.credited p{
	color: #7e8388 ;
	font-size: 22px;
}
.credited span img{
    width: 100px;
}
/* end courses section */

/* start pics section */
.pics-container img{
	opacity: .6;
	height: 80px;
	transition: .6s;
}
.pics-container img:hover{
	opacity: 1;
}
.pics-container{
	background-color: #fff;
}

/* end pics section */

/* start contact section */


.contact-container h3::after{
	position: absolute;
	content: "G";
    font-size: 2em;
    opacity: .06;
    top: -0.25em;
    left: 0;
    right: 0;
	margin: auto;
}
.contact-text a{
	color: #fff!important
}
.contact-container{
	background-color: #011d2f;
	background-image: url(../images/dotted-map.png);
	background-size: cover;
	color: #fff;
}
.contact-content p{
	font-size: 22px;
}
.footer-form .btn{
	background-color: #14a3b2!important;
    color: #ffffff;
    border: 1px solid #ffffff;
	transition: .6s;	
}
.footer-form .btn:hover{
	background-color: #fff!important;
	color: #00a2b1;
}
.footer-about span{
	font-weight: bold;
}
.footer-contact i{
  font-size: 20px;
  color: #ffff;
  /*padding: 6px 6px;
  background-color: #00a2b1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
   */
}
.footer-contact i:hover{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}
.contact-doupple h5{
	text-transform: uppercase;
	font-size: 24px;
}
/* end footer */

/* start last section */
.last-section{
	background-color: #011d2f;
	color: #fff;
    border-top: 1px solid #fff;
}
.last-section .social i{
	font-size: 20px;
	transition: .6s;
	color: #ffff;
	padding: 6px 6px;
	/* background-color: #00a2b1; */
	width: 37px;
    height: 33px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.last-section .social i:hover{
	background-color: #fff;
	color: #00a2b1;
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
}
.copyright{
	font-size: 18px;
}
.copyright a{
	font-size: 18px;
	font-weight: bold;
	color: #00a2b1;
}

.mytextarea{	
	max-height: 200px!important
}


/* end last section */
/* start scroll top */
.sccroll-top i
{
	transition: .6s;
	position: fixed;
	bottom: 100px;
	right: 25px;
	background-color:#174d85;
	display: block;
	padding: 10px;
	font-size: 22px;
	cursor: pointer;
	color: #fff;
	display: none;
	z-index: 999999;
	border-radius:50% ;
	-webkit-border-radius:50% ;
	-moz-border-radius:50% ;
	-ms-border-radius:50% ;
	-o-border-radius:50% ;
}
.sccroll-top i:hover
{
	color: #174d85;
	background-color: #fff
}
/* end all laaaaaaaaanding page */
/* training paaaaaaaaaaaaaaage */
.train-page{
	background: url(../images/training.jpeg);
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
	position: relative;
	height: 800px;
}
.training-overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	/* height: 100%; */
	background-color: rgba(51, 51, 51, .8)
}
.train-page .header  h3::after{
 content: "T"!important
}
.train-page{
	font-size: 18px;
}
/* end training paaaaaaaaaaaaaaage */
/* consult paaaaaaaaaaaaaaaage */
.consult-page .header  h3::after{
	content: "C"!important
   }
   .consult-page{
	font-size: 18px;
}
.consult-page{
	background: url(../images/ass.jpg);
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
	position: relative;
	height: 800px;
}
/* consult paaaaaaaaaaaaaaaage */
/* Assessment paaaaaaaaaaaaaaaage */
.Assessment-page .header  h3::after{
	content: "A"!important
   }
   .Assessment-page{
	font-size: 18px;
}
.Assessment-page{
	background: url(../images/assessment.jpeg);
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
	position: relative;
	height: 450px;
}
/* Assessment paaaaaaaaaaaaaaaage */
/* Assessment paaaaaaaaaaaaaaaage */
.TQM-page .header  h3::after{
	content: "T"!important
   }
   .train-page{
	font-size: 18px;
}
.TQM-page{
	background: url(../images/qm.jpg);
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
	position: relative;
	height: 600px;
}
/* TQM paaaaaaaaaaaaaaaage */
/* Assessment paaaaaaaaaaaaaaaage */
.Management-page{
	background: url(../images/manage.jpg);
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
	position: relative;
	height: 450px;
}
.Management-page .header  h3::after{
	content: "P"!important
   }
   .Management-page{
	font-size: 18px;
}
/* TQM paaaaaaaaaaaaaaaage */
/* about paaaaaaaaaaaaaaaage */
.about-panner .header  h3::after{
	content: "A"!important;
	color: #fff !important;
	opacity: .4;
   }
   .about-panner h3{
	   color: #00a2b1;
	   font-size: 45px;
   }
   /* .about-page{
	   font-size: 18px;
   } */
 .about-panner{
	background: url(../images/about.jpg);
	background-size: cover;
	 height: 500px;
   }
   .about-page hr{
	   width: 100%;
	   background-color: #eee
   }
/* about paaaaaaaaaaaaaaaage */
/* contact paaaaaaaaaaaaaaaage */
.Contact{
	background-image: url(../images/contact.jpg);
	height: 60vh;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
  }
  .contact-form{
	box-shadow: 1px 1px 2px 4px #eee, -1px -1px 10px 10px #eee;
	background-color: #fff;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
  }
  .contact-form .form-control{
	background: transparent none repeat scroll 0 0;
	  border-color: #e7e7e7;
	  border-image: none;
	  border-style: none none solid;
	  border-width: medium medium 1px;
	  box-shadow: inherit;
  }
  #submit{
	border-radius: 5px;
	font-size: 12px;
	padding: 8px 35px;
	background-color: #0571ba;
	border: 1px solid #0571ba;
	display: inline-block;
	font-family: "Montserrat",sans-serif;
	font-size: 12px;
	font-weight: 600;
	line-height: 25px;
	transition: .6s;
	text-transform: uppercase;
	color: #fff;
  }
  #submit:hover{
	background-color: #fff;
	color: #0571ba;
  }
  .contact-right li{
	margin-bottom: 20px;
	  font-family: "Montserrat",sans-serif;
  }
  .contact-right i{
	color: #2154cf;
	  font-size: 30px;
  }
  .contact-right .info {
	padding:0  15px;
	display: table-cell;
	  vertical-align: middle;
  }
  .contact-right .icon {
	background: #ffffff none repeat scroll 0 0;
	border: 2px solid #e7e7e7;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #232323;
	height: 70px;
	padding: 0;
	text-align: center;
	width: 70px;
	display: table-cell;
	  vertical-align: middle;
  }
  .contact-right .info p {
	font-weight: 600;
	margin: 0;
	text-transform: uppercase;
	color: #232323;
  }
  .contact-right .info span {
	display: block;
	font-weight: normal;
	text-transform: capitalize;
  }
  .contact-home h4{
	font-weight: 600;
	position: relative;
	text-transform: capitalize;
	margin-bottom: 20px;
  }
  .overlay-2{
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
  }

/* contact paaaaaaaaaaaaaaaage */
/* staaaaaaaaart maaaaaaaaain course paaaaaaaage */
.main-course-card{
 font-size: 13px;
 height: 100%;
 background-color: #fff;
 border-radius: .28571429rem;
    border: 1px solid #e6e6e6;
    color: #333;
    overflow: hidden;
}
.main-course-card img{
	width: 100%;
	height: 120px;
}
.main-coursee-content p{
	padding: 8px 0 12px;
    margin-bottom: 6px;
    line-height: 17px;
    font-weight: 500;
    font-size: 13.4px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 44px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.main-coursee-content .btn{
	color: #fff;
	background-color: #00a2b1;
	height: 35px;
	border: 1px solid #00a2b1;
}
.main-coursee-content .btn:hover{
	color: #00a2b1;
	background-color: #fff;
}
.main-coursee-content .btn:focus{
	box-shadow: none;
	outline: none;
}
.main-coursee-content .mov{
	color: #7c2b83;
}
.main-coursee-content .red{
	color: #ca292d;
}
.main-coursee-contentblu .blu{
	color: #174d85;
}
.category-left-side{
	background-color: #fff;
    border: 1px solid #e6e6e6;
}
.category-left-side i{
	color: #174d85;
}
.category-left-side h5{
	padding: 10px 0 10px 10px;	
}
.category-left-side a{
	transition: .6s;
	display: block;
	border-top: 1px solid #eee;
	padding: 10px 0 10px 10px;
	border-left: 3px solid #fff;
}
.category-left-side a:hover{
	border-left: 3px solid #139eb1;
}
/* endddd maaaaaaaaain course paaaaaaaage */
/* start pics category paaaaaaaaaaaaage */
.courses-pics h3::after{
	content: "C";
}
.courses-pics{
	background-color: #eee;
}
.courses-pics .row .category-branch{
	background-color: #ccc;
	border: 1px solid #fff;
	padding: 5px;
}
.category-cat .form-control:focus{
	outline: none;
	box-shadow: 1px 1px 1px #139eb1 ,-1px -1px 1px #139eb1;
}
.category-cat .btn{
	background-color: #139eb1;
	color: #fff;
}

/* end pics category paaaaaaaaaaaaage */
/* img-detail paaaaaaaage */
.detail-img , .detail-header , .detail-content, .details-card{
	background-color: #fff;
}
.detail-img img{
	width: 100%;
	height: 200px;;
}
.detail-header .btn{
	background-color: #174d85;
    color: #fff;
}
.overv-link{
	color: #00a2b1;
	font-size: 18px;
}
.details-card{
	width: 100%;
	height: 100%;
}
.details-card p{
	font-size: 15px;
}
.details-card span{
	font-size: 13px;
}
.details-card .btn{
 background-color: #139eb1;
 color: #fff
}
/* staaaaaaaaaaaaart courses in hoooooooooooooome paaaaaaaaaaaaaaaaaeg */
.category-cat{
	background-color: #f7f7f7;
}
.course-logo-content{
	background-color: #fff;
	height: 100% !important;
}
.course-logo-conten-1{
	border: 3px solid #f7f7f7;
	background-color: #fff;
}
.course-logo-content img{
	width: 100px;
	height: 100px;
	margin: auto;
}
/* staaaaaaaaaaaaart courses in hoooooooooooooome paaaaaaaaaaaaaaaaaeg */
/* staaaaaaaaaaaaaaaart regstiiiiiiiiiiiiiiiiiiiier */
.regstier-1{
	background-color: #fff;
}
.regster-header{
	background-color: #139eb1;
	color: #fff;
	line-height: 18px;
    font-weight: 500;
	font-size: 16px;
    position: relative;
    padding: 12px 16px;
    border-bottom: 0 solid #ededed;
    margin-bottom: 0;
}
.regstier-1 .form-control:focus{
	box-shadow: unset;
	background-color: #eee;
}
.regstier-1{
    position: relative;
    background: #fff;
    /* padding: 17px; */
    /* border-radius: .28571429rem; */
    border: 1px solid #e6e6e6;
    color: #333;
    overflow: hidden
}
.regstier-1 label{
	font-weight: 700;
}
.regstier-1 .nav-tabs {
    margin-top: 3%;
    border: none;
	background: #174d85;
    border-radius: 1.5rem;
	width: 37%;
	margin: auto;
}
.regstier-1  .nav-tabs .nav-link.active {
	width: 150px;
	color: #174d85;
	border: 2px solid #174d85;
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
	margin: auto;
}
.regstier-1 .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    border-top-right-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
	color: #fff;	
	}
	.mail-company{
		position: relative;
	}
	.mail-company i{
		position: absolute;
		top: 10PX;
		right: 10PX;
		background-color: #00a2b1;
		padding: 5px;
		color: #fff;
		top: 7PX;
		right: 21PX;
		cursor: pointer;
	}
	.online{
		background-color: #139eb1;
		color: #fff;
	}
	.Later{
		background-color: #174d85;
		color: #fff;
	}
	.Participant{
		color: #fff;
    background-color: #ed7c0c;
    border: 1px solid #ed7c0c;
	}
	.Participant:focus{
		box-shadow: unset;
	}
	.Participant:hover{
		background-color: #fff;
		color: #ed7c0c;
	}
	.remove-partice{
		display: none;
	}
	.form-right{
		font-size:15px;
	}
	.form-right .btn{
		font-size:12px;
	}
/* ennnnnnnnnnnnnnnnnd regstiiiiiiiiiiiiiiiiiiiier */















/* media query */


@media screen and (max-width: 971px) {
	
	.header-bar-search, .header-bar-menu {
		width: 100%;
	}
	.header-bar-search input[type="search"] {
		width: calc(100% - 50px);
	}
	.header-bar-search button[type="submit"] {
		width: 45px;
	}
	.course-button{
		width: 40%;
	}
	.courses-container h5 {
		font-size: 30px;
	}
	.header-bar-menu{
		text-align: center!important;
		font-size: 20px;
	}
	.big-nav{
		background-color: #fff;
	}
	.onlybig{
		display: none;
	}
	.big-nav .navbar-nav , .big-nav-fixed .nav-item a {
		margin-right: 0 !important;
	}
	.big-nav-fixed .navbar-collapse{
     padding-left: 5px;
	}
	.course-link-hover{
		position: initial;
		transform: scale(1)	;
		-webkit-transform: scale(1)	;
		-moz-transform: scale(1)	;
		-ms-transform: scale(1)	;
		-o-transform: scale(1)	;
		width:100%!important;
		right: 0px;
		padding: 5px;
		top: 0px;
		display: none;
		max-height: 40vh;
		overflow-y: auto;
		box-shadow: none;
		text-align: left !important;
		box-shadow: none;
		padding-left: 20px;
		font-size: 15px;
	}

	.big-nav-fixed , .big-nav{
		height: auto;
	}
	.course-link-nav:hover .course-link-hover{
	 display: block;
	}
	.contact-page .footer-form .btn {
		width: 70%;
		margin-left: 15%!important;
}
	.train-page , .consult-page{
	height: 1000px;
	}
	.Assessment-page ,.Management-page{
		height: 600px;
	}
	.TQM-page{
		height: 700px;
	}
	.home-content p{
		font-size: 25px
	}
	


	
  }

@media only screen and (max-width: 600px) {
	.train-page ,.consult-page {
		height: 1297px;
		}
		.Assessment-page{
			height: 1000px;
		}
		.TQM-page{
			height: 1080px;
		}
		.Assessment-page .header h3 , .TQM-page .header h3{
			position: relative;
			font-size: 27px;
		}
		.overv-link {
			font-size: 14px
		}
  }

  @media only screen and (max-width: 763px) {
.category-select{
 display: block!important;
}
.cat-select-parent{
	background-color: #fff;
	padding: 15px;
}
.regstier-1 .nav-tabs {
	width: 100%;
}
  }