/* body{
	direction: rtl;
}
.header h3::after{
	display: none;
} */
/* home paaaaaaaaaaaaaaage */
/* .service-box:hover .read-more a i {
    right: 100%;
}
.swiper-container-rtl .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	background-image: unset;
} */